.div_error-wrapper {
    max-width: 1440px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.div_error{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FF6060;
    font-family: 'Montserrat', sans-serif;

    margin-top: 7%;
}
.div_error h1 {
    font-weight: 700;
    font-size: 288px;
    margin-top: 0;
    margin-bottom: 2%;
}

.div_error p{
    font-weight: 500;
    font-size: 36px;
    text-align: center;
}

.div_error a {
    font-weight: 500;
    font-size: 18px;
    color: #FF6060;
    margin-top: 12%;
    margin-bottom: 10%;
}


@media all and (max-width: 768px) {

    .div_error {

        margin-top: 20%;
        margin-bottom: 10%;
    }

    .div_error h1 {
        font-size: 96px;
    }

    .div_error p {
        font-size: 18px;
    }

    .div_error a {
        font-size: 14px;
        margin-bottom: 15%;
    }
}