.div_host {
    display: flex;
    flex-direction: row;
}

.div_name-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: 10px;
}

.host_image {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    object-fit: cover;
}
.div_host p {
    margin: 0;
    color: #FF6060;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}


@media all and (max-width: 768px) {

    .host_image {
        height: 32px;
        width: 32px;
    }

    .div_host p {
        font-size: 12px;
    }

}