.logement_list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 3%;

    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;

    background: #F7F7F7;
    border-radius: 25px;
}

.logement_list article {
    min-width: 340px;
    flex: 1;
}

@media all and (max-width: 768px) {
    .logement_list {
        margin-top: -110px;
        background: none;
    }

    .logement_list article {
        min-width: 335px;
    }
}