.div_collapse {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 5%;

    
}

.collapse_title {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2%;
    padding-right: 3%;
    background: #FF6060;
    border-radius: 5px;
    cursor: pointer;
}
.collapse_title h2 {
    margin: 10px 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
}

.chevron_open {
    transform: rotate(180deg);
}


.collapse_text {
    z-index: -1;
    margin-top: 0;
    background: #F7F7F7;
    border-radius: 0 0 5px 5px;
    padding: 4%;

}

.collapse_text p {
    margin: 0;
    color: #FF6060;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

.collapse_text ul {
    padding: 0;
    margin: 0;
}

.collapse_text li {
    list-style-type: none;
    margin: 0;
    color: #FF6060;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}


@media all and (max-width: 768px) {


    .collapse_title h2 {
        font-size: 13px;
    }

    .collapse_text p {
   
        font-size: 12px;
    }

    .collapse_text li {
        font-size: 12px;
    }
    
}